<div class="container">
  <div class="row text-center">
		<br />
		<h1 class="text-danger text-center">Authentication Failed! :(</h1>
		<br />
		<p>Something went wrong, sorry about that...</p>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<p class="text-right">Made with love by <a href="http://justinthec.me" target="_blank">Justin Chan</a></p>
	</div>
</footer>